<tr id="<%= dom_id(manifest) %>">
  <td><%= link_to manifest.name, manifest.url %></td>
  <td><%= File.basename manifest.url %></td>
  <td>
    <% if manifest.enabled? %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-success', icon: 'thumbs-up' }
      %>
    <% else %>
      <%= render partial: 'shared/icon',
          locals: { classes: 'has-text-danger', icon: 'ban' }
      %>
    <% end %>
    <% if can_toggle_status?(manifest) %>
      <%= check_box_tag nil, nil, manifest.enabled?,
        {
          id: "toggle_status_#{dom_id(manifest)}",
          data: {
            'reflex': 'click->Application#toggle_status',
            'reflex-dataset': 'combined',
            'model': 'manifest',
            'id': manifest.id
          }
        }
      %>
    <% end %>
  </td>
  <td class="mappers_count"><%= manifest.mappers_count %></td>
  <td>
    <%= content_tag :div, class: 'tags has-addons is-outline' do %>
      <%= render partial: 'shared/button_refresh',
          locals: {
            classes: 'tag is-primary',
            data: { id: manifest.id, reflex: 'click->Manifest#import' },
            id: 'import',
            text: 'Import'
          }
      %>
    <% end %>
  </td>
  <td>
      <%= render partial: 'shared/button_refresh',
          locals: {
            classes: 'tag is-warning',
            data: { id: manifest.id, reflex: 'click->Manifest#cleanup' },
            id: 'clean_up',
            text: 'Cleanup'
          }
      %>
  </td>
  <td>
    <%= content_tag :div, class: 'tags has-addons is-outline' do %>
      <%= render partial: 'shared/button_delete', locals: { record: manifest } %>
    <% end %>
  </td>
</tr>
