<tr id="<%= dom_id(manifest) %>">
  <td><%= truncate manifest.name, length: 50 %></td>
  <td><%= link_to truncate(manifest.url, length: 75), manifest.url %></td>
  <td class="mappers_count"><%= manifest.mappers_count %></td>
  <td>
    <%= content_tag :div, class: 'tags has-addons is-outline' do %>
      <%= render partial: 'shared/button_refresh',
          locals: {
            classes: 'tag is-primary',
            data: { id: manifest.id, reflex: 'click->Manifest#import' },
            id: 'import',
            text: 'Import'
          }
      %>
    <% end %>
  </td>
  <td>
      <%= render partial: 'shared/button_refresh',
          locals: {
            classes: 'tag is-warning',
            data: { id: manifest.id, reflex: 'click->Manifest#cleanup' },
            id: 'clean_up',
            text: 'Cleanup'
          }
      %>
  </td>
  <td>
    <%= content_tag :div, class: 'tags has-addons is-outline' do %>
      <%= render partial: 'shared/button_delete', locals: { record: manifest } %>
    <% end %>
  </td>
</tr>
