<h1 class="title has-text-centered is-spaced"><%= t('manifest.title.index') %></h1>

<div class="columns is-centered">
  <div class="column is-half">
    <%= render 'form_inline', manifest: Manifest.new %>
  </div>
</div>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th><%= t 'manifest.name' %></th>
      <th><%= t 'manifest.filename' %></th>
      <th><%= t 'manifest.enabled' %></th>
      <th><%= t 'manifest.mappers' %></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'row', collection: @manifests, as: :manifest %>
  </tbody>
</table>

<hr/>
<%== pagy_bulma_nav(@pagy) %>
