<%= render partial: 'step/batch_summary', locals: { batch: batch } %>
<%= render partial: 'step/breadcrumbs', locals: { batch: batch } %>

<%= content_for :step_ready do %>
  <!-- TODO: may want to puts this into locales -->
  <article class="mt-4">
    <h4 class="subtitle">Job description</h4>
    <p>The preprocessing step performs the following functions:</p>
    <ul class="mt-2 ml-6 mb-2">
      <li>Verify that the CSV is ready for further processing</li>
      <li>Provides a report on the state of the CSV data (headers, fields etc.)</li>
    </ul>
  </article>
<% end %>

<div class="box">
  <%= render layout: 'step/header', locals: { batch: batch, step: step } do |form| %>
    <!-- No additions -->
  <% end %>

  <%= render partial: 'step/body', locals: { batch: batch, step: step }%>
  <hr/>
  <%= render partial: 'step/navigation', locals: {
      previous_step: '#',
      previous_ok: false,
      next_step: new_batch_step_process_path,
      next_ok: (batch.may_process? || batch.preprocessed?)
    }
  %>
</div>
