<div class="content">
  <dl>
    <dt>Machine</dt>
    <dd><%= sys[:machine] %></dd>
    <dt>Processor</dt>
    <dd><%= sys[:processor] %></dd>
    <dt>Operating System</dt>
    <dd><%= sys[:os] %></dd>
    <dt>Uptime</dt>
    <dd><%= sys[:uptime] %></dd>
    <dt>CPU</dt>
    <dd><%= sys[:cpu] %></dd>
    <dt>Total Memory</dt>
    <dd><%= sys[:totalmem] %></dd>
    <dt>Free memory</dt>
    <dd><%= sys[:freemem] %></dd>
  </dl>
</div>